RateMovementSimulator.v12.suo
RateMovementSimulator/bin/Debug/RateMovementSimulator.exe
RateMovementSimulator/bin/Debug/RateMovementSimulator.exe.config
RateMovementSimulator/bin/Debug/RateMovementSimulator.pdb
RateMovementSimulator/bin/Debug/RateMovementSimulator.vshost.exe
RateMovementSimulator/bin/Debug/RateMovementSimulator.vshost.exe.config
RateMovementSimulator/obj/Debug/RateMovementSimulator.csproj.FileListAbsolute.txt
RateMovementSimulator/obj/Debug/RateMovementSimulator.csprojResolveAssemblyReference.cache
RateMovementSimulator/obj/Debug/RateMovementSimulator.exe
RateMovementSimulator/obj/Debug/RateMovementSimulator.pdb
RateMovementSimulator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RateMovementSimulator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RateMovementSimulator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Debug
Release
/RateMovementSimulator/*.user
/*.suo
*.suo
/RateFeed/*.user
/*.xml
/packages/CommonServiceLocator.1.3/*.nupkg
/packages/Unity.4.0.1/lib/wp80/*.dll
/packages/Unity.4.0.1/lib/wp80/*.xml
/packages/Unity.4.0.1/lib/net45
/packages/Unity.4.0.1/lib/win8
/packages/Unity.4.0.1/lib/portable-net45+wp80+win8+wpa81+MonoAndroid10+MonoTouch10
/packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8
/packages/Unity.4.0.1/*.nupkg
/packages/Unity.4.0.1/*.xsd
/*.dic
/RateMovementVisualizer/*.user
*.dll
*.xml
*.nupkg
*.xsd
*.pri
*.pdb
*.txt
