<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SymbolsConfiguration" type="Internovus.Wpf.Training.OfflineTrading.Configuration.SymbolsConfigurationSection, OfflineTrading.Configuration" />
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <SymbolsConfiguration>
    <Symbols>
      <add name="Gold" waveType="sine" initialRate="0" amplitude="1" period="60000" step="1000"></add>
      <add name="Iron" waveType="triangle" initialRate="0" amplitude="1" period="60000" step="1000"></add>
      <add name="Honey" waveType="doubleTriangle" initialRate="0" amplitude="1" period="60000" step="1000"></add>
    </Symbols>
  </SymbolsConfiguration>
</configuration>
